html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}

/* Dark mode attempt 2 */
:root {
    --background-color-light: #ffffff !important;
    --text-color-light: #000000 !important;
    --background-color-dark: #121212 !important;
    --text-color-dark: #ffffff !important;
  }

  body {
    background-color: var(--background-color-light) !important;
    color: var(--text-color-light) !important;
  }
  .dark-mode {
    background-color: var(--background-color-dark) !important;
    color: var(--text-color-dark) !important;
  }
#nameSubHead {
  font-size: small;
  margin-top: -.5rem;
}